@use "../../scss/" as *;

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 3rem;

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    &__loadmore {
        text-align: center;
    }
}

.movie-search {
    position: relative;
    width: 100%;
    max-width: 100%;

    input {
        height: 3.5rem;
        width: 100%;
        padding-right: 8rem;

        @include mobile {
            border-radius: 2px;
        }
    }

    button {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;

        @include mobile {
            right: 0;
            top: 0;
        }
    }
}